<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>liuyang_welcome</title>
</head>
<body>
    Welcome! 订制的欢迎页面<br>
    通过registry.addViewController("/").setViewName("liuyang_welcome.html");跳转。<br>
    并且，这样配置的页面不受spring.mvc.static-path-pattern的影响。<br>
    并且，这样配置的欢迎页面优先级要高于默认的欢迎页面。
</body>
</html>